In [1]:
import pandas as pd
from src.f_utils.mimic_labels import _get_gabarito, binary_jaccard_overlap

df_labels = pd.read_csv("../dados/mimic/mimic-cxr-2.0.0-chexpert.csv")

In [2]:
_get_gabarito(57375967, df_labels)

        subject_id  study_id  ...  Pneumothorax  Support Devices
4         10000764  57375967  ...           0.0              0.0
921       10035631  50257519  ...           0.0              0.0
1493      10065383  54100577  ...           0.0              0.0
1879      10083754  55837751  ...           0.0              0.0
3357      10157256  54331490  ...           0.0              0.0
...            ...       ...  ...           ...              ...
223875    19826123  57227356  ...           0.0              0.0
224753    19862541  50109575  ...           0.0              0.0
224773    19863368  51118319  ...           0.0              0.0
225278    19888588  53376540  ...           0.0              0.0
227455    19986737  57665859  ...           0.0              0.0

[279 rows x 16 columns]

In [3]:
binary_jaccard_overlap(57375967, [50257519, 54100577, 55368167, 58621812, 50898500], df_labels)

   study_id  jaccard_overlap
0  50257519             1.00
1  54100577             1.00
2  55368167             0.00
3  58621812             0.00
4  50898500             0.25